<div class="container-fluid bg-light">
    <div class="container bg-light">
        <div class="row mt-4 flex justify-content-center">
        <div class="col-md-6 bg-white shadow">
        <div class="card bg-info mt-4 p-3 d-flex">
            <h4 class="text-white align-self-center">Task managment app</h4>
        </div>
        <div class="shadow">
            <div class="input-group mb-3 p-2">
                <input type="text" class="form-control" name ="taskObj" placeholder="Add task" [(ngModel)]="taskValue">
                <button class="btn btn-outline-success" type="button" (click)="addTask()"><i class="bi bi-plus-circle"></i></button>
            </div>
        </div>
        <h4 class="text-primary mt-4">My Tasks: </h4>
        <div>
            <div id="task_list">
                <div class="shadow border flex" *ngFor="let task of list">
                    <input type="checkbox" class="form-check-input" id="complete" (change)="onChange()"> 
                    <div class="input-group row ps-3 mb-2 align-items-center">
                        <div class="card col-md-10 border-0">
                          {{task.task_name}}
                        </div>
                        <button class="btn btn-danger col" (click)="deleteTask(task)"><i class="bi bi-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
